:root {
	--light:				#FFFFFF;
	--success:				#58740e;
	--primary:				#4651f7;
	--danger:				#df0f0f;
	--info:					#95a4fc;
	--warning:				#d6d439;

	--font:					Arial, Helvetica, sans-serif;
	--font2:				Arial, Helvetica, sans-serif;

	--bg:					#000000;
	--bg2:					#000000;

	--color:				#FFFFFF;
	--color2:				#FFFFFF;

	--border:				#a3959560; 
}

body {
	background: var(--bg);
	font-size: 14px;
	font-family: var(--font);
	font-weight: 400;
	line-height: 1em;
	color: var(--color);
}

* {
	font-family: inherit;
	color: inherit;
}
