@font-face {
	font-family: quicksand;
	src: url(./assets/font/quicksand/Quicksand-Regular.ttf);
}

@font-face {
	font-family: quicksand;
	src: url(./assets/font/quicksand/Quicksand-Bold.ttf);
	font-weight: 700;
}

:root {
	--light:				#FFFFFF;
	--success:				#58740e;
	--primary:				#4651f7;
	--danger:				#df0f0f;
	--info:					#95a4fc;
	--warning:				#8ED100;

	--font:					quicksand;
	--font2:				Arial, Helvetica, sans-serif;

	--bg:					#000000;
	--bg2:					#000000;

	--panel:				#233023;

	--color:				#FFFFFF;
	--color2:				#FFFFFF;

	--border:				#a3959560; 
}

body {
	background: var(--bg);
	font-size: 1rem;
	font-family: var(--font);
	font-weight: 400;
	line-height: 1rem;
	color: var(--color);
}

@media (max-width: 1200px) {
	body {
		/* font-size: 0.8rem; */
	}
}

* {
	font-family: inherit;
	color: inherit;
	
}


@keyframes Swing {
	0% {
		transform: rotateZ(-10deg);
	}
	50% {
		transform: rotateZ(2deg);
	}
	100% {
		transform: rotateZ(-10deg);
	}
}



::-webkit-scrollbar {
	position: absolute;
	width: 1rem;
	height: 1rem;
}

::-webkit-scrollbar-track {
	background: #5a4e4e;
}

::-webkit-scrollbar-thumb {
	background: #000000;
	border: 1px solid #5a4e4e;
	border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--bg);
}